/* keyframes */

@keyframes avatar {
    0% {
        box-shadow: 0px 0px 0px black;
    }
}

@keyframes shadow {
    0% {
        filter: drop-shadow(0px 0px 0px black);
    }
}

@keyframes shrink {
    0% {
        left: 100%;
        width: 0%;
    }

    20% {
        left: 0;
        width: 100%;
    }

    80% {
        left: 0;
        width: 100%;
    }

    100% {
        left: 0;
        width: 0%;
    }
}

@keyframes show_popup {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes show_popup_bg {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.2;
    }
}

@keyframes fadeaway {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes bg_fadeaway {
    0%{
        opacity: 0.2;
    }
    100%{
        opacity: 0;
    }
}

@keyframes show_up {
    0%{
        opacity: 0;
    }
}

@keyframes hover_menu {
    0%{
        filter: drop-shadow(0px 0px 3px black);
    }
}

@keyframes toggle_01 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-45deg);
    }
}

.toggle_01{
    position: absolute;
    animation: toggle_01 1s ease;
    transform: rotate(-45deg);
}

@keyframes toggle_01_0 {
    0%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.toggle_01_0{
    position: absolute;
    animation: toggle_01_0 1s ease;
    transform: rotate(0deg);
}

@keyframes toggle_02 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(45deg);
    }
}

.toggle_02{
    position: absolute;
    animation: toggle_02 1s ease;
    transform: rotate(45deg);
}

@keyframes toggle_02_0{
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.toggle_02_0{
    position: absolute;
    animation: toggle_02_0 1s ease;
    transform: rotate(0deg);
}

@keyframes show_card {
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

@keyframes animated_border {
    0%{
        border-image: linear-gradient(0deg, var(--pallete-01), var(--pallete-02), var(--pallete-03), var(--pallete-04), var(--pallete-05), var(--pallete-06)) 1;
    }
    25%{  
        border-image: linear-gradient(90deg, var(--pallete-01), var(--pallete-02), var(--pallete-03), var(--pallete-04), var(--pallete-05), var(--pallete-06)) 1;
    }
    50%{  
        border-image: linear-gradient(180deg, var(--pallete-01), var(--pallete-02), var(--pallete-03), var(--pallete-04), var(--pallete-05), var(--pallete-06)) 1;
    }
    75%{  
        border-image: linear-gradient(270deg, var(--pallete-01), var(--pallete-02), var(--pallete-03), var(--pallete-04), var(--pallete-05), var(--pallete-06)) 1;
    }
    100%{  
        border-image: linear-gradient(360deg, var(--pallete-01), var(--pallete-02), var(--pallete-03), var(--pallete-04), var(--pallete-05), var(--pallete-06)) 1;
    }
}