/*import*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* reset css */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

/* General */
:root {
    --primary-color: #2e3440;
    --secondary-color: #d8dee9;
    --hover-color: #eceff4;

    --pallete-01: #f72585;
    --pallete-01-0: #f7258480;
    --pallete-02: #b5179e;
    --pallete-03: #560bad;
    --pallete-03-0: #570bad80;
    --pallete-04: #3f37c9;
    --pallete-04-0: #3f37c980;
    --pallete-05: #4895ef;
    --pallete-06: #4cc9f0;
    --pallete-06-0: #4cc9f080;

    --grid_width: 90.833px;
    --grid_gap: 10px;
    --grid_width_gap: 100.833px;
}

html {
    background-color: var(--primary-color);
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    color: var(--secondary-color);
}

#main_container {
    margin: 0 auto;
    max-width: 1440px;
    min-width: 998px;
    height: 100%;
    /* border: 1px solid red; */
}

#popup_bg {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--pallete-03);
    opacity: 0.2;
    z-index: 1;
    animation: show_popup_bg 1.5s ease;
    display: none;
}

#inner_container {
    width: calc(83.34%);
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

#navbar {
    width: 100%;
    height: 80px;
    display: flex;
    margin-bottom: 100px;
}

#logo {
    height: 80%;
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#logo a {
    height: 80%;
    width: 100%;
}

#logo img {
    height: 100%;
    filter: drop-shadow(5px 5px 5px #0000004a);
}

#logo a img:nth-child(2) {
    display: none;
    height: 80px;
}

#logo img:hover {
    filter: drop-shadow(3px 3px 3px var(--pallete-03-0));
    animation: hover_menu 1s ease;
}

#itens_section {
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

#itens_section ul {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#toggle_menu {
    position: relative;
    height: 80%;
    width: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

#toggle_menu span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--secondary-color);
}

#toggle_menu span:nth-child(2) {
    background-color: var(--pallete-01);
}

#itens_section ul li {
    width: var(--grid_width);
    height: 24px;
    font-size: 0.6rem;
    line-height: 24px;
    text-align: center;
    filter: drop-shadow(5px 5px 5px #00000085);
    animation: shadow 1s ease;
    /* border: 1px solid red; */
}

#itens_section ul li a {
    display: block;
}

#itens_section ul li a:hover {
    filter: drop-shadow(4px 4px 4px var(--pallete-03));
    animation: hover_menu 1s ease;
}

#branch {
    max-width: 968px;
    position: absolute;
    top: 750px;
    left: 66px;
    display: none;
    opacity: 1;
    animation: show_up 1.5s ease;
}

#branch img {
    max-width: 80.66%;
    max-height: 1302px;
    width: auto;
    height: auto;
    filter: drop-shadow(8px 0px 10px #00000085);
    animation: shadow 1s ease;
}

main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
    height: calc((100vh - 180px) / 2);
}

.section:nth-child(odd) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    width: 60%;
}

.section:nth-child(even) {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section:nth-child(2) img {
    max-height: 250px;
    height: auto;
    border-radius: 50%;
    box-shadow: 6px 6px 20px var(--pallete-01-0),
        8px 8px 20px var(--pallete-04-0),
        10px 10px 20px var(--pallete-06-0),
        -2px -2px 5px black;
    animation: avatar 2s ease;
}

.section:nth-child(3) {
    display: flex;
    justify-content: flex-start;
    padding: 42.5px 25px;
}

#section_posts {
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
}

.articles {
    width: 100%;
    height: 100%;
    position: absolute;
}

.articles:nth-child(1) {
    background-color: var(--pallete-01);
    width: 0%;
    left: 100%;
}

.articles:nth-child(2) {
    background-color: var(--pallete-03);
    width: 0%;
    left: 100%;
}

.articles:nth-child(3) {
    background-color: var(--pallete-04);
    width: 0%;
    left: 100%;
}

.articles:nth-child(4) {
    background-color: var(--pallete-06);
    width: 0%;
    left: 100%;
}


.shrink {
    animation: shrink 5s ease;
}

.section h1 {
    font-size: 1.1rem;
    margin-bottom: 30px;
    letter-spacing: 0.5rem;
    filter: drop-shadow(5px 5px 5px #00000085);

    background-image: linear-gradient(90deg, var(--pallete-01), var(--pallete-02), var(--pallete-03), var(--pallete-04), var(--pallete-05), var(--pallete-06));
    -webkit-background-clip: text;
    color: transparent;
    animation: shadow 1s ease;
}

.section h3 {
    font-size: 0.7rem;
    text-align: justify;
    line-height: 1.4rem;
    letter-spacing: 0.12rem;
    filter: drop-shadow(5px 5px 5px #00000085);
    animation: shadow 1s ease;
}

#info_branches {
    display: flex;
    flex-direction: column;
    transform: rotate(270deg);

}

.branch_colors {
    display: block;
    height: 10px;
    padding: 0 125px;
    margin-bottom: 5px;

}

.branch_names {
    display: block;
    width: 250px;
    height: 10px;
    font-size: 0.6rem;
    margin-bottom: 5px;
}

.bc_01 {
    background-color: var(--pallete-01);
}

.bc_02 {
    background-color: var(--pallete-02);
}

.bc_03 {
    background-color: var(--pallete-03);
}

.bc_04 {
    background-color: var(--pallete-04);
}

.bc_05 {
    background-color: var(--pallete-05);
}

.bc_06 {
    background-color: var(--pallete-06);
}

/* popup window */
#popup_introduction {
    position: absolute;
    top: 180px;
    left: 0;
    width: 60%;
    height: 600px;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 6px 6px 20px var(--pallete-01-0),
        8px 8px 20px var(--pallete-04-0),
        10px 10px 20px var(--pallete-06-0),
        -2px -2px 5px black;
    animation: show_popup 1.5s ease;
    border-radius: 15px 15px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

#popup_introduction h4 {
    height: 40px;
    line-height: 2em;
    text-align: center;
    font-size: 1em;
}

#popup_introduction span {
    line-height: 2em;
    text-transform: uppercase;
    background-image: linear-gradient(90deg, var(--pallete-01), var(--pallete-02), var(--pallete-03), var(--pallete-04), var(--pallete-05), var(--pallete-06));
    -webkit-background-clip: text;
    color: transparent;
}

#popup_introduction iframe {
    width: 100%;
    height: 80%;
}

#popup_introduction button {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 15px;
    font-size: 0.7rem;
    font-family: inherit;
    background: var(--pallete-03-0);
    box-shadow: 2px 2px 2px var(--pallete-03);
    z-index: 3;
    cursor: pointer;
}

.click_button {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 0px transparent;
}

.fadeaway {
    animation: fadeaway 1s ease;
}

.card_menu {
    position: absolute;
    right: 0;
    height: 100vh;
    padding: 20px;
    color: var(--primary-color);
}

.card_0 {
    width: 260px;
    transform: scaleX(0);
    z-index: 400;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid transparent;
    overflow: hidden;
    /* border: 5px solid;
    border-image: linear-gradient(0deg, var(--pallete-01), var(--pallete-02), var(--pallete-03), var(--pallete-04), var(--pallete-05), var(--pallete-06)) 1;*/
    box-shadow: -1px 0 20px var(--pallete-03);
}

.card_0::before{
    content: "";
    position: absolute;
    margin-top: 0;
    right: -250%;
    top: -17%;
    height: 150%;
    width: 600%;
    background-image: conic-gradient(
        var(--pallete-01) 60deg, 
        var(--pallete-02) 120deg,
        var(--pallete-03) 180deg,
        var(--pallete-04) 240deg,
        var(--pallete-05) 300deg,
        var(--pallete-06) 360deg
        );
    animation: animated_border 6s infinite linear;
    z-index: -1;
}

.card_0::after{
    content: "";
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: var(--primary-color);
    z-index: -1;
}

.card_1 {
    width: 300px;
    transform: scaleX(0);
    z-index: 300;
}

.card_2 {
    width: 340px;
    transform: scaleX(0);
    z-index: 200;
}

.card_3 {
    width: 380px;
    transform: scaleX(0);
    z-index: 100;
}

.card_1,
.card_2,
.card_3 {
    background-color: var(--secondary-color);
    border: 5px solid;
    border-image: linear-gradient(to bottom, var(--pallete-01), var(--pallete-02), var(--pallete-03), var(--pallete-04), var(--pallete-05), var(--pallete-06)) 1;
    box-shadow: -1px 0 20px var(--pallete-03);
}

.show_card_0 {
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 1s;
}

.show_card_1 {
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 1.25s;
}

.show_card_2 {
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 1.5s;
}

.show_card_3 {
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 1.75s;
}

.hide_card_0 {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 1s;
}

.hide_card_1 {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 1.25s;
}

.hide_card_2 {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 1.5s;
}

.hide_card_3 {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 1.75s;
}