:root{
    --padding-branch: 51px;
}
@media screen and (max-width:480px) {
    #main_container {
        margin: 0 auto;
        max-width: 480px;
        min-width: 300px;
        height: 100vh;
    }
    #inner_container{
        width: calc(100% - 10px);
        height: auto;
    }
    #logo a{
        height: 100%;
    }
    #logo a img:first-child{
        display: none;
    }
    #logo a img:nth-child(2){
        display: flex;
        width: auto;
        height: 100%;
        margin: 0;

    }
    #navbar{
        margin-bottom: 50px;

    }
    #itens_section{
        height: 100%;
    }
    #itens_section ul{
        display: none;
    }
    #toggle_menu{
        display: flex;
        height: 50px;
    }
    #branch{
        width: calc(100% - 10px);
        transform: translateX(-50%);
        left: 50%;
        top: 700px;
    }
    /* .computer_science_1{
        left: calc(61px - 56px);
    }
    .javascript_1{
        left: calc(771px - 51px);
    } */
    #popup_introduction{
        width: 94%;
        height: 50%;
        transform: translateX(-50%);
        left: 50%;
    }
    #popup_introduction h4 {
        height: 40px;
        line-height: 20px;
        text-align: center;
        font-size: 1em;
    }
    #popup_introduction iframe{
        height: auto;
    }
    #branch img{
        max-width: 100%;
    }
    .section:nth-child(even){
        display: none;
    }
    .section:nth-child(odd){
        width: 100%;
    }
    #side_container{
        display: block;
    }
}